@{
    ViewBag.Title = "Home Page";
}
<body>
    <h1 style="color:hotpink;text-align:center">AloneBirds Xin thông báo</h1>
    <p style="color:pink; text-align:center" class="lead">You are not a member of the Admin in the system, so you cannot access the System Database.</pstyle="color:pink">
    <div class="row">
        <div class="col-md-6">
            <h2 style="color:pink">Slight warning</h2>
            <p style="color:white;font-size:17px">
                - Theo nghị định số 174/2013/NĐ-CP ngày 13.11.2013 của Chính phủ quy định xử phạt vi phạm hành chính trong lĩnh vực bưu chính, viễn thông, công nghệ thông tin và tần số vô tuyến điện quy định: <br />
            <p style="margin-left:20px;margin-top:-5px"> + Phạt tiền từ 10 triệu - 20 triệu đồng đối với hành vi không có biện pháp bảo vệ thông tin riêng hoặc thông tin cá nhân của người sử dụng (điểm c khoản 1 Điều 65).</p> <br /> <p style="margin-left:20px;margin-top:-22px">+ Phạt tiền từ 30 - 50 triệu đồng đối với hành vi tiết lộ trên môi trường mạng thông tin thuộc bí mật kinh doanh hoặc tiết lộ trái phép nội dung thông tin riêng của người sử dụng dịch vụ viễn thông (điểm a khoản 4 Điều 66).</p><br /><p style="margin-left:20px;margin-top:-20px"> + Phạt tiền từ 50 - 70 triệu đồng đối với hành vi mua bán hoặc trao đổi trái phép thông tin riêng của người sử dụng dịch vụ viễn thông (điểm a khoản 5 Điều 66). </p> <br /> <p style="margin-top:-22px">Như vậy, mức phạt cao nhất là 70.000.000 đồng.</p> <br /> <p style="margin-top:-22px">- Tùy theo các bộ luật về hành vi sai phạm đi kèm về đánh cắp và phá hoại tài sản bạn rất có thể sễ được đặc cách đến thăm bác Đinh La Thăng trong vòng ít nhất 2 năm.</p>
            </p>
            <p><a class="btn btn-default" href="https://laodong.vn/phap-luat/can-che-tai-manh-tay-voi-hanh-vi-danh-cap-du-lieu-ca-nhan-783556.ldo">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/images/prison.jpg" height="450" width="600" ; style="padding-top:20px" />
        </div>
        <div class="col-md-12">
            <h2 style="color:hotpink">Attention</h2>
            <h4>Nhấn vào <span style="color:deeppink; font-weight:bolder">Home</span> hoặc <span style="color: Red; font-size: 16px "><i>Tôi xin lỗi. Lần sau tôi không thế nữa. Tôi biết tôi sai rồi.</i></span> để trở về trang chủ của Web( hoặc chúng tôi sẽ báo cảnh sát).</h4>
            <a href="@Url.Action("Index","Base")" style="font-size:16px; color:pink">I'm sorry. Next time I won't. I know I'm wrong &raquo;</a>
        </div>
    </div>
</body>
           